{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/graphql/(.*)$",
    "^@/hooks/(.*)$",
    "^@/libs/(.*)$",
    "^@/providers/(.*)$",
    "^@/schemas/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "^(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
