@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(240, 7%, 97%);
  --foreground: hsl(240, 7%, 6%);

  --muted: hsl(210, 40%, 96.1%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);

  --accent: hsl(210, 40%, 96.1%);
  --accent-foreground: hsl(222.2, 47.4%, 11.2%);

  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222.2, 47.4%, 11.2%);

  --card: hsl(225, 10%, 93%);
  --card-foreground: hsl(222.2, 47.4%, 11.2%);

  --primary: hsl(176, 77%, 41%);
  --primary-foreground: hsl(210, 40%, 98%);

  --secondary: hsl(210, 29%, 96%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --border: hsl(214.3, 31.8%, 91.4%);
  --input: hsl(240, 7%, 97%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(227, 13%, 14%);
  --foreground: hsl(213, 31%, 91%);

  --muted: hsl(224, 16%, 27%);
  --muted-foreground: hsl(215.4, 16.3%, 56.9%);

  --accent: hsl(227, 13%, 27%);
  --accent-foreground: hsl(210, 40%, 98%);

  --popover: hsl(231, 14%, 20%);
  --popover-foreground: hsl(213, 31%, 91%);

  --card: hsl(224, 16%, 19%);
  --card-foreground: hsl(213, 31%, 91%);

  --primary: hsl(176, 77%, 41%);
  --primary-foreground: hsl(210, 40%, 98%);

  --secondary: hsl(230, 12%, 29%);
  --secondary-foreground: hsl(210, 40%, 98%);

  --border: hsl(217, 19%, 27%);
  --input: hsl(227, 13%, 14%);
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overscroll-none h-screen;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-slider-thumb {
  @apply rounded-full bg-secondary/65 hover:bg-secondary;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
